.register {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 200px;
  box-sizing: border-box;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.register-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 305px;
  margin-bottom: 220px;
}

.register-scan-image {
  display: block;
  object-fit: contain;
}

.register-qr-image {
  display: block;
  object-fit: contain;
}

.register-button {
  display: flex;
  width: 100%;
}
